* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  flex-direction: column;
}

button {
  margin: 1rem;
  background-color: rgb(37, 158, 206);
  color: white;
  padding: 0.5em 1em;
  border: none;
  outline: none;
  border-radius: 3px;
}

.hide {
  opacity: 0.5;
  transition: opacity 500ms;
}

.hide:hover {
  opacity: 1;
}

.hide:focus {
  opacity: 0;
}

.change:focus {
  background-color: orangered;
  color: black;
  transition-property: color, background-color;
  transition-duration: 1s;
}
